[Desktop Entry]
Type=Application
Name=digabi-feedback
Comment=Collect feedback from system
Exec=sudo /usr/bin/digabi feedback
StartupNotify=false
Terminal=false
Hidden=false
