[Desktop Entry]
Version=1.0
Type=Application
Name=Enable Web Access
Name[fi]=Salli pääsy verkkoon
Name[sv]=Tillgång till nätet
Comment=Removes default restrictions from Digabi firewall, and allows access to everywhere. (Feature only available in Digabi Live demo version.)
Exec=/usr/bin/sudo /usr/bin/digabi webaccess toggle
Icon=gnome-dev-wavelan
Path=
Terminal=false
StartupNotify=false
