Section: misc
Priority: optional
Homepage: http://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-testing
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: wpasupplicant, iw, digabi-common, network-manager, network-manager-gnome, virtualbox-guest-x11, gnome-keyring, curl, uuid-runtime
Changelog: debian/changelog
Files: iptables-testing.rules /etc
 webaccess /usr/lib/digabi/scripts
 digabi-webaccess /etc/sudoers.d
 toggle-web-access.desktop /etc/skel/Desktop
 apt-sources /usr/lib/digabi/scripts
 dmesg /usr/lib/digabi/scripts
Description: Tools to help testing Digabi Live System (meta-package)
 This includes:
  - WLAN/WiFi support
  - NetworkManager (Gnome Keyring for WiFi password support)
  - VirtualBox Guest Additions
  - Collect device information (curl, uuidgen)
