[Desktop Entry]
Version=1.0
Type=Application
Name=Draw (Inkscape)
Name[fi]=Piirto-ohjelma (Inkscape)
Name[sv]=Ritningsprogram (Inkscape)
Exec=/usr/bin/inkscape
Icon=inkscape
Path=
Terminal=false
StartupNotify=false
