[Desktop Entry]
Version=1.0
Type=Application
Name=Spreadsheet (LibreOffice Calc)
Name[fi]=Taulukkolaskenta (LibreOffice Calc)
Name[sv]=Kalkylprogram (LibreOffice Calc)
Exec=/usr/bin/libreoffice --calc
Icon=libreoffice-calc
Terminal=false
StartupNotify=false
