Source: digabios-customization
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9), librsvg2-bin, config-package-dev, xfce4-settings
Standards-Version: 3.9.6
Homepage: https://github.com/digabi/digabi-os
Vcs-Git: https://github.com/digabi/digabi-os.git

Package: digabios-customization
Provides: digabi-customization
Replaces: digabi-customization
Conflicts: digabi-customization
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 digabios-backgrounds,
 digabios-system-settings,
 fonts-lato, fonts-liberation, plymouth,
 plymouth-themes, ambiance-radiance-colors
Description: Customizations for DigabiOS.
 Updates system configuration to match Digabi requirements.

Package: digabios-backgrounds
Replaces: digabi-backgrounds
Provides: digabi-backgrounds
Conflicts: digabi-backgrounds
Depends: ${misc:Depends}, desktop-base
Architecture: all
Description: Backgrounds for DigabiOS.
 This package installs background files for DigabiOS.

Package: digabios-system-settings
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Depends: ${misc:Depends}, xfce4-panel, xfconf, xfce4-settings
Architecture: all
Description: Configures system settings for DigabiOS.
 Does misc changes to /etc...

Package: plymouth-themes-digabios
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-x11
Description: Custom Plymouth theme
 Installs custom Plymouth theme to system.

Package: digabios-firewall
Architecture: all
Depends: iptables-persistent
Conflicts: digabi-firewall
Provides: digabi-firewall
Replaces: digabi-firewall
Description: Simple firewall script for DigabiOS
 This package installs simple firewall for DigabiOS.
