Source: digabios-customization
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9), librsvg2-bin,
 config-package-dev, dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/digabi/digabi-os
Vcs-Git: https://github.com/digabi/digabi-os.git

Package: digabios-backgrounds
Replaces: digabi-backgrounds
Provides: digabi-backgrounds
Conflicts: digabi-backgrounds
Depends: ${misc:Depends}, desktop-base, gnome-icon-theme
Architecture: all
Description: Backgrounds for DigabiOS.
 This package installs background files for DigabiOS.

Package: digabios-system-settings
Provides: ${diverted-files}, digabios-customization
Conflicts: ${diverted-files},
 digabios-customization (<< ${binary:Version})
Replaces: digabios-customization (<< ${binary:Version})
Depends: ${misc:Depends}, xfce4-panel, xfconf, xfce4-settings,
 digabios-backgrounds (= ${binary:Version}), fonts-lato,
 fonts-liberation, plymouth, plymouth-themes,
 ambiance-radiance-colors
Architecture: all
Description: Installs customized system settings to DigabiOS
 Changes include:
  * customized application menu
  * customized panels
  * customized fonts
  * custom theme

Package: plymouth-themes-digabios
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-x11
Description: Custom Plymouth theme
 Installs custom Plymouth theme to system.

Package: digabios-firewall
Architecture: all
Depends: iptables-persistent
Conflicts: digabi-firewall
Provides: digabi-firewall
Replaces: digabi-firewall
Description: Simple firewall script for DigabiOS
 This package installs simple firewall for DigabiOS.

Package: digabios-client
Architecture: all
Depends: digabios-customization, digabi-koe, geogebra5,
 maxima, wxmaxima, wine, pinta, gimp, inkscape, nodejs,
 libreoffice-calc, libreoffice-draw, libreoffice-gtk,
 libreoffice-impress, libreoffice-l10n-fi,
 libreoffice-l10n-sv, libreoffice-math,
 libreoffice-writer, xfce4-screenshooter,
 xfce4-battery-plugin, pulseaudio, pavucontrol,
 kcalc, okular, dia, dia-shapes,
 digabios-firewall (= ${binary:Version})
Conflicts: digabios-server
Provides: digabios-system-config
Description: Add client configuration to system.
 TBD

Package: digabios-server
Architecture: all
Depends: digabios-customization, koetilapalvelin,
 nginx, nodejs, oracle-java8-jdk, postgresql,
 postgresql-contrib, openssh-server, isc-dhcp-server,
 avahi-daemon, usbmount,
 digabios-firewall (= ${binary:Version})
Conflicts: digabios-client
Provides: digabios-system-config
Description: Add server configuration to system
 TBD
