root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[{control}]
indent_style = space
indent_size = 1

[*.md]
indent_style = space
indent_size = 4

[{Makefile}]
indent_style = tab
indent_size = 1

[{debian/rules}]
indent_style = tab
indent_size = 1

[{debian/changelog}]
indent_style = space
indent_size = 2

[{Vagrantfile}]
indent_style = space
indent_size = 2

[target/*/hooks/*]
indent_style = space
indent_size = 4

[scripts/*]
indent_style = space
indent_size = 4
