root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[control]
indent_style = space
indent_size = 1

[*.md]
indent_style = space
indent_size = 4

[Makefile]
ident_style = tab
indent_size = 1
