*~
*.asc
/binary/
/.build/
build.log
/cache/
/chroot/
/config
*.deb
/dist
.idea/
*.iso
*.iso.*
live-image-*.contents
live-image-*.files
live-image-*.hybrid.iso
live-image-*.hybrid.iso.zsync
live-image-*.packages
.lock
*.md5sum
/source/
.stage/
*.sublime-*
/target/default/digabi.local
*.tmp
tmp/
.vagrant/
