*~
/.build/
/binary/
/cache/
/chroot/
/source/

/config
.stage/

.lock

/dist
*.md5sum
*.asc

*.deb

tmp/

/target/default/digabi.local

# After live-build 4.x
live-image-*.contents
live-image-*.files
live-image-*.hybrid.iso
live-image-*.hybrid.iso.zsync
live-image-*.packages

# Ignore vagrant state file
.vagrant/

*.sublime-*

*.iso
*.iso.*

build.log

*.tmp

.idea/
