[submodule "custom-packages/digabi-feedback"]
	path = custom-packages/digabi-feedback
	url = git://github.com/digabi/digabi-feedback.git
[submodule "custom-packages/digabi-repository"]
	path = custom-packages/digabi-repository
	url = git://github.com/digabi/digabi-repository.git
