Section: misc
Priority: optional
Homepage: http://digabi.fi/
Standards-Version: 3.9.2

Package: plymouth-themes-digabi
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: plymouth, plymouth-drm, plymouth-x11
Architecture: all
Copyright: debian/copyright
Changelog: debian/changelog
Files: digabi/box.png /usr/share/plymouth/themes
 digabi/bullet.png /usr/share/plymouth/themes
 digabi/digabi.plymouth /usr/share/plymouth/themes
 digabi/digabi.script /usr/share/plymouth/themes
 digabi/entry.png /usr/share/plymouth/themes
 digabi/lock.png /usr/share/plymouth/themes
 digabi/progress_bar.png /usr/share/plymouth/themes
 digabi/progress_box.png /usr/share/plymouth/themes
 digabi/digabi.png /usr/share/plymouth/themes
Description: Digabi Plymouth bootsplash theme.
