Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: digabi-os-debug
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: digabi-common, openssh-server
Changelog: debian/changelog
Files: authorized_keys /root/.ssh
 usr/lib/digabi/scripts /
Description: Debug features for Digabi OS.
 xx
