[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Take screenshot
Name[fi]=Ota kuvankaappaus
Comment=Use mouse to select the area to be saved.
Comment[fi]=Aseta hiiren osoitin kaapattavan alueen kulmaan, paina hiiren vasen painike pohjaan, siirrä osoitin alueen vastakkaiseen kulmaan ja päästä painike ylös.
Exec=xfce4-screenshooter -d 0 -m -r -o /usr/bin/save-screenshot-image
Icon=applets-screenshooter
