Source: digabi-certificates
Section: misc
Priority: extra
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: digabi-certificates
Architecture: all
Depends: ca-certificates (>= 20130119), ${misc:Depends}
Description: Digabi CA certificates
 This package includes local CA certificates to be installed in
 /usr/local/share/ca-certificates. The CA certificates installed by this
 package will be implicitly trusted.
