Section: misc
Priority: optional
Homepage: https://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-dev
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: build-essential, live-build, git, equivs, devscripts, 
 digabi-common, packaging-dev, debconf-utils, git-buildpackage, time
Recommends: reprepro, piuparts, apt-cacher-ng, kernel-package,
 gcc-4.8-plugin-dev, libncurses5-dev, python-six, lintian, editorconfig
Suggests: pastebinit, vim, vim-scripts, apt-file
Architecture: all
Changelog: debian/changelog
Files: scripts/prepare-linux-source /usr/lib/digabi
 scripts/build-kernel /usr/lib/digabi
 scripts/build-custom-packages /usr/lib/digabi
 scripts/build-package /usr/lib/digabi
 scripts/os /usr/lib/digabi
 scripts/_os/build /usr/lib/digabi
 etc/digabi/dev /
 etc/apt-cacher-ng/digabi.conf /
 hacks/fix-live-build-isohdpfx.bin-path-syslinux-6.03.patch /usr/share/digabi-dev
Description: Development tools for Digabi
 Package installs essential build tools for Digabi.
File: postinst
 #!/bin/sh
 set -e
 LIVE_BUILD="/usr/lib/live/build"
 if [ ! -d "${LIVE_BUILD}" ]
 then
    echo "Failure: live-build not installed?"
    exit 1
 fi
 
 cd "${LIVE_BUILD}"
 patch -p1 </usr/share/digabi-dev/hacks/fix-live-build-isohdpfx.bin-path-syslinux-6.03.patch
File: prerm
 #!/bin/sh
 set -e
 LIVE_BUILD="/usr/lib/live/build"
 if [ ! -d "${LIVE_BUILD}" ]
 then
    exit 0
 fi
 
 cd "${LIVE_BUILD}"
 patch -p1 -R </usr/share/digabi-dev/hacks/fix-live-build-isohdpfx.bin-path-syslinux-6.03.patch
