Section: misc
Priority: optional
Homepage: https://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-dev
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: build-essential, live-build, git, equivs, devscripts, 
 digabi-common, packaging-dev, debconf-utils, git-buildpackage, time
Recommends: reprepro, piuparts, apt-cacher-ng, kernel-package,
 gcc-4.8-plugin-dev, libncurses5-dev, python-six, lintian, editorconfig,
 multipath-tools
Suggests: pastebinit, vim, vim-scripts, apt-file
Architecture: all
Changelog: debian/changelog
Files: scripts/_os/prepare-linux-source /usr/lib/digabi
 scripts/_os/build-kernel /usr/lib/digabi
 scripts/_os/build-custom-packages /usr/lib/digabi
 scripts/_os/build-package /usr/lib/digabi
 scripts/_os/_jenkins /usr/lib/digabi
 scripts/_os/jenkins-build /usr/lib/digabi
 scripts/_os/jenkins-build-packages /usr/lib/digabi
 scripts/_os/jenkins-publish-packages /usr/lib/digabi
 scripts/upgrade-basebox /usr/lib/digabi
 etc/digabi/dev /
 etc/apt-cacher-ng/digabi.conf /
Description: Development tools for Digabi
 Package installs essential build tools for Digabi.
File: postinst
 #!/bin/sh
 set -e
 if [ -f "/usr/lib/digabi/scripts/_helpers" ]
 then
     ln -s /usr/lib/digabi/scripts/_helpers /usr/lib/digabi/scripts/_os/_helpers
 fi
File: prerm
 #!/bin/sh
 set -e
 
 if [ -e "/usr/lib/digabi/scripts/_os/_helpers" ]
 then
     rm /usr/lib/digabi/scripts/_os/_helpers
 fi
