Section: misc
Priority: optional
Homepage: https://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-dev
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: kernel-package, build-essential, live-build, git, equivs, devscripts, digabi-common
Recommends: reprepro, piuparts, apt-cacher-ng
Architecture: all
Changelog: debian/changelog
Files: prepare-linux-source /usr/lib/digabi/scripts
 build-kernel /usr/lib/digabi/scripts
 build-custom-packages /usr/lib/digabi/scripts
 build-package /usr/lib/digabi/scripts
 digabirc /usr/share/doc/digabi-developer/examples
Description: Development tools for Digabi
 Package installs essential build tools for Digabi.
