Source: digabios
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://digabi.fi/os
Vcs-Git: git://github.com/digabi/digabios.git
Vcs-Browser: https://github.com/digabi/digabios

Package: digabios
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 apparmor, apparmor-notify, apparmor-profiles,
 apparmor-profiles-extra, apparmor-utils, auditd,
 broadcom-sta-dkms, console-data, consolekit, console-setup,
 dbus-x11, desktop-base, digabi-archive,
 digabi-archive-keyring, digabi-certificates,
 digabios-backgrounds, digabios-firewall,
 digabios-system-settings, dmidecode, eject, fbxkb,
 firmware-atheros, firmware-b43-installer, firmware-ipw2x00,
 firmware-iwlwifi, firmware-linux, firmware-linux-nonfree,
 firmware-ralink, firmware-realtek, gnome-keyring,
 gstreamer0.10-alsa, iceweasel, iceweasel-l10n-fi,
 iceweasel-l10n-sv-se, imvirt, iproute, iw,
 keyboard-configuration, less, libnotify-bin,
 libpam-apparmor, libpam-ck-connector, libreoffice-gtk,
 libreoffice-l10n-fi, lightdm, live-boot, live-config,
 live-config-systemd, live-tools, locales, lshw, mousepad,
 network-manager, network-manager-gnome, ntp, policykit-1,
 sudo, tango-icon-theme, terminator,
 ttf-mscorefonts-installer, tzdata, usbutils, user-setup,
 uuid-runtime, virt-what, wpasupplicant, xbacklight,
 xdg-utils, xfce4, xfce4-notifyd, xfce4-power-manager,
 xfce4-xkb-plugin, xorg, xserver-xorg-input-all,
 xserver-xorg-video-all
Replaces: digabi-live
Description: Digabi OS
 Live operating system for the use of Matriculation Examination Board.

Package: linux-image-digabios-amd64
Section: kernel
Architecture: amd64
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-amd64
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: linux-image-digabios-586
Section: kernel
Architecture: i386
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-586
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).


Package: linux-image-digabios-686-pae
Section: kernel
Architecture: i386
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-686-pae
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).


