Source: digabios
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://digabi.fi/os
Vcs-Git: git://github.com/digabi/digabios.git
Vcs-Browser: https://github.com/digabi/digabios

Package: digabios
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 live-boot, live-config, live-config-systemd,
 live-tools, user-setup, eject, sudo, iproute, locales,
 keyboard-configuration, uuid-runtime, xdg-utils, ntp,
 task-desktop, usbutils, console-data, less, tzdata,
 xserver-xorg-video-all, xserver-xorg-input-all,
 dbus-x11, tango-icon-theme, gstreamer0.10-alsa,
 mousepad, task-xfce-desktop, xfce4-power-manager,
 fbxkb, xfce4-notifyd, libnotify-bin, xfce4-xkb-plugin,
 terminator, xbacklight,
 iceweasel, iceweasel-l10n-fi, iceweasel-l10n-sv-se,
 task-english, task-finnish, task-finnish-desktop,
 task-swedish, task-swedish-desktop,
 task-northern-sami, task-northern-sami-desktop,
 console-setup, wpasupplicant, iw, network-manager,
 network-manager-gnome, gnome-keyring,
 digabios-firewall, digabi-archive, digabi-archive-keyring,
 digabi-certificates, digabios-backgrounds,
 digabios-customization, digabios-system-settings,
 lshw, virt-what, imvirt, dmidecode, apparmor,
 apparmor-notify, apparmor-profiles, apparmor-profiles-extra,
 apparmor-utils, libpam-apparmor, auditd, consolekit,
 libpam-ck-connector, policykit-1, 
 firmware-linux, firmware-linux-nonfree,
 firmware-b43-installer, firmware-atheros, firmware-ipw2x00,
 firmware-iwlwifi, firmware-ralink, firmware-realtek,
 broadcom-sta-dkms, ttf-mscorefonts-installer
Replaces: digabi-live
Description: Digabi OS
 Live operating system for the use of Matriculation Examination Board.

Package: digabios-doc
Section: doc
Depends: ${misc:Depends}
Architecture: all
Description: documentation for digabios
 Documentation.

Package: linux-image-digabios-amd64
Section: kernel
Architecture: amd64
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-amd64
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: linux-image-digabios-586
Section: kernel
Architecture: i386
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-586
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).


Package: linux-image-digabios-686-pae
Section: kernel
Architecture: i386
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-686-pae
Provides: linux-image-digabios
Replaces: linux-image-ytl, linux-image-digabi
Conflicts: linux-image-ytl, linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).


