Source: digabios
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9),
 config-package-dev,
 dh-systemd,
 librsvg2-bin
Standards-Version: 3.9.5
Homepage: https://digabi.fi/os
Vcs-Git: git://github.com/digabi/digabios.git
Vcs-Browser: https://github.com/digabi/digabios

Package: digabios
Architecture: all
Depends: ${misc:Depends},
 broadcom-sta-dkms,
 console-data,
 consolekit,
 console-setup,
 dbus-x11,
 desktop-base,
 digabi-archive,
 digabi-archive-keyring,
 digabi-certificates,
 digabi-sound-test (>= 0.5),
 digabios-backgrounds (= ${binary:Version}),
 digabios-firewall (= ${binary:Version}),
 digabios-icons (= ${binary:Version}),
 digabios-provides-everything (= ${binary:Version}),
 digabios-system-settings (= ${binary:Version}),
 eject,
 firmware-atheros,
 firmware-b43-installer,
 firmware-ipw2x00,
 firmware-iwlwifi,
 firmware-linux,
 firmware-linux-nonfree,
 firmware-ralink,
 firmware-realtek,
 gnome-keyring,
 gstreamer0.10-alsa,
 iceweasel,
 iceweasel-l10n-fi,
 iceweasel-l10n-sv-se,
 iproute,
 iw,
 keyboard-configuration,
 less,
 libnotify-bin,
 libpam-ck-connector,
 libreoffice-gtk,
 libreoffice-l10n-fi,
 libxfce4util-bin,
 lightdm,
 live-boot,
 live-config,
 live-config-systemd,
 live-tools,
 locales,
 lshw,
 mousepad,
 network-manager,
 network-manager-gnome,
 ntp,
 policykit-1,
 sudo,
 tango-icon-theme,
 terminator,
 tzdata,
 usbutils,
 user-setup,
 wpasupplicant,
 xbacklight,
 xdg-user-dirs,
 xdg-user-dirs-gtk,
 xdg-utils,
 xfce4 (>= 4.12.0),
 xfce4-battery-plugin,
 xfce4-notifyd,
 xfce4-power-manager,
 xorg,
 xserver-xorg-input-all,
 xserver-xorg-video-all
Replaces: digabi-live
Description: Digabi OS
 Live operating system for the use of Matriculation Examination Board.

Package: digabios-provides-x-terminal-emulator
Provides: x-terminal-emulator
Architecture: all
Description: Provide fake x-terminal-emulator to DigabiOS
 This package fakes that it provides x-terminal-emulator,
 to allow installation of the system without terminal
 application.

Package: linux-image-digabios-amd64
Section: kernel
Architecture: amd64
Depends: ${misc:Depends},
 linux-image-3.16.0-4.ytl-amd64
Provides: linux-image-digabios
Replaces: linux-image-ytl,
 linux-image-digabi
Conflicts: linux-image-ytl,
 linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: linux-image-digabios-686-pae
Section: kernel
Architecture: i386
Depends: ${misc:Depends}, linux-image-3.16.0-4.ytl-686-pae
Provides: linux-image-digabios
Replaces: linux-image-ytl,
 linux-image-digabi
Conflicts: linux-image-ytl,
 linux-image-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux kernel and modules.
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: linux-headers-digabios-amd64
Section: kernel
Architecture: amd64
Depends: ${misc:Depends},
 linux-headers-3.16.0-4.ytl-amd64,
 linux-headers-3.16.0-4.ytl-common
Provides: linux-headers-digabios
Replaces: linux-headers-ytl,
 linux-headers-digabi
Conflicts: linux-headers-ytl,
 linux-headers-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux headers
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: linux-headers-digabios-686-pae
Section: kernel
Architecture: i386
Depends: ${misc:Depends},
 linux-headers-3.16.0-4.ytl-686-pae,
 linux-headers-3.16.0-4.ytl-common
Provides: linux-headers-digabios
Replaces: linux-headers-ytl,
 linux-headers-digabi
Conflicts: linux-headers-ytl,
 linux-headers-digabi
Description: Latest Digabi Linux kernel
 This metapackage depends on the latest Digabi Linux headers
 .
 Currently only 32-bit/64-bit Intel/AMD systems (i386, amd64) are
 supported.
 .
 Only for use with Digabi OS (might break on other systems).

Package: digabi-dev
Provides: digabi-buildbox
Replaces: digabi-buildbox
Conflicts: digabi-buildbox
Architecture: all
Depends: ${misc:Depends},
 apt-cacher-ng,
 build-essential,
 debconf-utils,
 devscripts,
 editorconfig,
 equivs,
 gcc-4.8-plugin-dev | gcc-4.9-plugin-dev,
 git,
 git-buildpackage,
 kernel-package,
 libncurses5-dev,
 lintian,
 live-build,
 multipath-tools,
 packaging-dev,
 piuparts,
 python-six,
 reprepro,
 rsync,
 time
Suggests: apt-file,
 pastebinit,
 vim,
 vim-scripts,
Description: development dependencies for DigabiOS
 TBD

Package: digabios-provides-everything
Provides: aspell-en
Replaces: aspell-en
Conflicts: aspell-en
Architecture: all
Description: package that forcefully replaces system packages
 This package just fakes that it provides various other
 packages to allow removal of unwanted packages that other
 apps depend on.
 .
 !!
 NOTE: THIS PACKAGE PROBABLY BREAKS SOME PARTS OF THE
 SOFTWARE INCLUDED
 !!
 .
 Currently provides following packages (package that depends
 on that pkg):
 .
 . * aspell-en (to remove dictionaries, inkscape depends on
     aspell)
 .

Package: digabios-debug
Architecture: all
Depends: terminator
Description: DigabiOS debug tools
 This package installs misc tools for debugging DigabiOS

Package: digabios-backgrounds
Replaces: digabi-backgrounds
Provides: digabi-backgrounds
Conflicts: digabi-backgrounds
Depends: ${misc:Depends},
 desktop-base,
 gnome-icon-theme
Architecture: all
Description: Backgrounds for DigabiOS.
 This package installs background files for DigabiOS.

Package: digabios-system-settings
Provides: ${diverted-files}, digabios-customization
Conflicts: ${diverted-files},
 digabios-customization (<< ${binary:Version})
Replaces: digabios-customization (<< ${binary:Version})
Depends: ${misc:Depends},
 digabios-backgrounds (= ${binary:Version}),
 fonts-lato,
 fonts-liberation,
 plymouth,
 plymouth-themes,
 xfce4-panel,
 xfce4-settings,
 xfconf,
 zenity
Architecture: all
Description: Installs customized system settings to DigabiOS
 Changes include:
  * customized application menu
  * customized panels
  * customized fonts
  * custom theme

Package: plymouth-themes-digabios
Architecture: all
Depends: ${misc:Depends},
 plymouth,
 plymouth-x11
Description: Custom Plymouth theme
 Installs custom Plymouth theme to system.

Package: digabios-firewall
Architecture: all
Depends: ${misc:Depends},
 iptables-persistent
Conflicts: digabi-firewall
Provides: digabi-firewall
Replaces: digabi-firewall
Description: Simple firewall script for DigabiOS
 This package installs simple firewall for DigabiOS.

Package: digabios-client
Architecture: all
Depends: ${misc:Depends},
 browser-plugin-vlc,
 dia,
 dia-shapes,
 digabi-koe,
 digabios-firewall (= ${binary:Version}),
 digabios-system-settings (= ${binary:Version}),
 geogebra5,
 gimp,
 inkscape,
 kcalc,
 libreoffice-calc,
 libreoffice-draw,
 libreoffice-gtk,
 libreoffice-impress,
 libreoffice-l10n-fi,
 libreoffice-l10n-sv,
 libreoffice-math,
 libreoffice-writer,
 maxima,
 mplayer2,
 nodejs,
 okular,
 pavucontrol,
 phonon-backend-null,
 pinta,
 pulseaudio,
 vlc,
 wine,
 wxmaxima,
 xfce4-screenshooter
Conflicts: digabios-server
Provides: digabios-system-config
Description: Add client configuration to system.
 TBD

Package: digabios-server
Architecture: all
Depends: ${misc:Depends},
 avahi-daemon,
 digabios-firewall (= ${binary:Version}),
 digabios-system-settings (= ${binary:Version}),
 isc-dhcp-server,
 nodejs,
 nginx,
 openssh-server,
 postgresql,
 postgresql-contrib,
 terminator,
 usbmount,
 vlc,
 zenity
Conflicts: digabios-client
Provides: digabios-system-config
Description: Add server configuration to system
 TBD

Package: digabios-icons
Architecture: all
Depends: ${misc:Depends}
Description: DigabiOS icon theme
 TBD
