Section: misc
Priority: optional
Homepage: http://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-apps
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: libreoffice, libreoffice-gtk, libreoffice-l10n-sv, ghemical, inkscape, lyx, chromium, chromium-l10n, iceweasel, iceweasel-l10n-fi, iceweasel-l10n-sv-se, vlc, geogebra, audacity, gpredict, freemind

Architecture: all
Changelog: changelog
Files: iceweasel.desktop /etc/skel/Desktop
 chromium.desktop /etc/skel/Desktop
 inkscape.desktop /etc/skel/Desktop
 lo-calc.desktop /etc/skel/Desktop
 lo-writer.desktop /etc/skel/Desktop
 lo-impress.desktop /etc/skel/Desktop
 geogebra-license.txt /usr/share/digabi
Description: Digabi software collection (meta-package)
 Installs allowed apps to Digabi system.
