[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Toggle font size (big/normal)
Name[fi]=Vaihda fontin kokoa (iso/normaali)
Name[sv]=Byt teckenstorlek (stor/normal)
Comment=Toggle HiDPI on/off
Comment[fi]=Suurenna fonttia korkearesoluutioisella näytöllä
Comment[sv]=Förstora fonten för bildskärmar med hös resolution
TryExec=/usr/bin/digabi-dpi
Exec=/usr/bin/digabi-dpi
Icon=preferences-desktop-display
