[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Toggle high resolution support
Name[fi]=Aseta korkearesoluutioinen näyttötila
Name[sv]=TODO
Description=Toggle HiDPI on/off
Description[fi]=Aseta HiDPI päälle/pois
TryExec=/usr/bin/digabi-dpi
Exec=/usr/bin/digabi-dpi
Icon=preferences-desktop-display
