[Desktop Entry]
Version=1.0
Type=Application
Name=Keyboard Layout
Name[fi]=Näppäimistökartta
Name[sv]=Tangentbordslayout
Comment=Show current keyboard layout
Comment[fi]=Näytä tämänhetkinen näppäimistökartta
Comment[sv]=Visa nuvarande tangetbordslayout
Exec=/bin/sh -c "layout=`setxkbmap -query | awk '/layout:/{print $2}'`;variant=`setxkbmap -query | awk '/variant:/{print $2}'`; if [ -z $variant ]; then gkbd-keyboard-display -l ${layout}; else gkbd-keyboard-display -l ${layout}'\t'${variant}; fi"
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
