[Desktop Entry]
Version=1.0
Type=Application
Name=Keyboard Layout
Name[fi]=Näppäimistökartta
Name[sv]=Tangentbordslayout
Comment=Show current keyboard layout
Comment[fi]=Näytä tämänhetkinen näppäimistökartta
Comment[sv]=Visa nuvarande tangetbordslayout
Exec=/bin/sh -c "CODE=`setxkbmap -query | awk '/layout:/{layout=$2} /variant:/{variant=$2} END {print layout "\t" variant}'`; gkbd-keyboard-display --layout=${CODE}"
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
