[Desktop Entry]
Version=1.0
Type=Application
Name=Spanish
Name[fi]=espanja
Name[sv]=spanska
Comment=Switch keyboard language to Spanish
Comment[fi]=Vaihda näppäimistön kieleksi espanja
Comment[sv]=Byt tangentlayouten till spanska
Exec=setxkbmap es
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
