[Desktop Entry]
Version=1.0
Type=Application
Name=English
Name[fi]=englanti
Name[sv]=engelska
Comment=Switch keyboard language to English
Comment[fi]=Vaihda näppäimistön kieleksi englanti
Comment[sv]=Byt tangentlayouten till engelska
Exec=setxkbmap en
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
