[Desktop Entry]
Version=1.0
Type=Application
Name=Skolt Sami
Name[fi]=koltansaame
Name[sv]=skoltsamiska
Comment=Switch keyboard language to Skolt Sami
Comment[fi]=Vaihda näppäimistön kieleksi koltansaame
Comment[sv]=Byt tangentlayouten till skoltsamiska
Exec=setxkbmap sms
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
