[Desktop Entry]
Version=1.0
Type=Application
Name=Spanish
Name[fi]=espanja
Comment=Switch keyboard language to Spanish
Comment[fi]=Vaihda näppäimistön kieleksi espanja
Exec=setxkbmap es
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
