[Desktop Entry]
Version=1.0
Type=Application
Name=Finnish
Name[fi]=suomi
Name[sv]=finska
Comment=Switch keyboard language to Finnish
Comment[fi]=Vaihda näppäimistön kieleksi suomi
Comment[sv]=Byt tangentlayouten till finska
Exec=setxkbmap fi
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
