[Desktop Entry]
Version=1.0
Type=Application
Name=Russian
Name[fi]=venäjä
Comment=Switch keyboard language to Russian
Comment[fi]=Vaihda näppäimistön kieleksi venäjä
Exec=setxkbmap ru
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
