[Desktop Entry]
Version=1.0
Type=Application
Name=Swedish
Name[fi]=ruotsi
Name[sv]=svenska
Comment=Switch keyboard language to Swedish
Comment[fi]=Vaihda näppäimistön kieleksi ruotsi
Comment[sv]=Byt tangentlayouten till svenska
Exec=setxkbmap se
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
