[Desktop Entry]
Version=1.0
Type=Application
Name=Russian
Name[fi]=venäjä
Name[sv]=ryska
Comment=Switch keyboard language to Russian
Comment[fi]=Vaihda näppäimistön kieleksi venäjä
Comment[sv]=Byt tangentlayouten till ryska
Exec=setxkbmap ru
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
