[Desktop Entry]
Version=1.0
Type=Application
Name=Swedish
Name[fi]=ruotsi
Comment=Switch keyboard language to Swedish
Comment[fi]=Vaihda näppäimistön kieleksi ruotsi
Exec=setxkbmap se
Icon=preferences-desktop-keyboard-shortcuts
Path=
Terminal=false
StartupNotify=false
