[Desktop Entry]
Version=1.0
Type=Application
Name=French
Name[fi]=ranska
Name[sv]=franska
Comment=Switch keyboard language to French
Comment[fi]=Vaihda näppäimistön kieleksi ranska
Comment[sv]=Byt tangentlayouten till franska
Exec=setxkbmap fr
Icon=digabi-keyboard
Path=
Terminal=false
StartupNotify=false
