[Desktop Entry]
Version=1.0
Type=Application
Name=Finnish
Name[fi]=suomi
Comment=Switch keyboard language to Finnish
Comment[fi]=Vaihda näppäimistön kieleksi suomi
Exec=setxkbmap fi
Icon=preferences-desktop-keyboard-shortcuts
Path=
Terminal=false
StartupNotify=false
