# For configuration documentation, see <http://www.syslinux.org/wiki/index.php/SYSLINUX>

include menu.cfg
default vesamenu.c32

timeout 300		# 5 seconds
totaltimeout 3000	# 5 minutes

# prompt: If flag_val is 0, display the boot: prompt only if the Shift or
#         Alt key is pressed, or Caps Lock or Scroll lock is set (this is
#         the default). If flag_val is 1, always display the boot: prompt.
prompt 0

# noescape: If flag_val is set to 1, ignore the Shift/Alt/Caps Lock/
#           Scroll Lock escapes. Use this (together with PROMPT 0) to
#           force the default boot selection.
noescape 1

# implicit: If flag_val is 0, do not load a kernel image unless it has
#           been explicitly named in a LABEL statement. The default is 1.
implicit: 0

# allowoptions: If flag_val is 0, the user is not allowed to specify any
#		arguments on the kernel command line. The only options
#		recognized are those specified in an APPEND statement. The
#		default is 1.
allowoptions 0
