Source: digabi-os
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://digabi.fi/os
Vcs-Git: git://github.com/digabi/digabi-os.git
Vcs-Browser: https://github.com/digabi/digabi-os

Package: digabi-os
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: digabi-live
Description: Digabi OS
 Live operating system for the use of Matriculation Examination Board.

Package: digabi-os-doc
Architecture: all
Description: documentation for digabi-os
 Documentation.
