Section: misc
Priority: optional
Homepage: https://digabi.fi/os
Standards-Version: 3.9.2
Vcs-Browser: https://github.com/digabi/digabi-os
Vcs-Git: git://github.com/digabi/digabi-os.git

Package: digabi-os
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: iceweasel, iceweasel-l10n-fi, iceweasel-l10n-sv-se,
 vlc, 
 geogebra44, maxima, wxmaxima,
 wine,
 pinta, gimp, inkscape,
 libreoffice, libreoffice-gtk, libreoffice-l10n-fi, libreoffice-l10n-sv, 
 libreoffice-math, libreoffice-voikko
Replaces: digabi-live
Changelog: debian/changelog
Description: Digabi OS
 Installs all MEB approved apps.
