Source: digabi-backgrounds
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/digabi/digabi-os/
Vcs-Git: git://github.com/digabi/digabi-os.git
Vcs-Browser: https://github.com/digabi/digabi-os/tree/master/

Package: digabi-backgrounds
Architecture: all
Description: Backgrounds for Digabi OS.
 This package contains background files for Digabi OS.
 .
 Logos of the Matriculation Examination Board of Finland & Digabi are
 proprietary/non-free.
