Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: digabi-firewall
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Depends: digabi-common
Changelog: debian/changelog
Files: usr/lib/digabi/scripts/firewall /
 etc/init.d/digabi-firewall /
 etc/network/if-post-down.d/ip6tablessave /
 etc/network/if-post-down.d/iptablessave /
 etc/network/if-pre-up.d/ip6tablesload /
 etc/network/if-pre-up.d/iptablesload /
 etc/digabi/firewall.d/README /
 etc/digabi/firewall.d/0000-initialize-tables.conf /
 etc/digabi/firewall.d/0001-add-digabi-tables.conf /
 etc/digabi/firewall.d/0200-allow-existing-connections.conf /
 etc/digabi/firewall.d/0210-allow-dhcp.conf /
 etc/digabi/firewall.d/0250-allow-ping.conf /
 etc/digabi/firewall.d/0500-forward-traffic-to-digabi-tables.conf /
 etc/digabi/firewall.d/8999-return-digabi-tables.conf /
 etc/digabi/firewall.d/9000-log-and-reject.conf /
 etc/digabi/firewall.d/9999-commit.conf /
Description: Digabi Firewall is very simple firewall implementation.
 Configuration: add files to /etc/digabi/firewall.d/*.conf.
File: postinst
 #!/bin/sh
 set -e
 chown root:root /etc/digabi/firewall.d
 chmod 0700 /etc/digabi/firewall.d
 update-rc.d digabi-firewall defaults
File: prerm
 #!/bin/sh
 set -e
 update-rc.d digabi-firewall remove
