[Desktop Entry]
Version=1.0
Type=Link
Name=Digabi Example Test
Name[fi]=Digabi Mallikoe
Name[sv]=Digabi Exempel Provet
Icon=accessories-text-editor
URL=http://koe.demo.digabi.fi/
