[Desktop Entry]
Version=1.0
Type=Application
Name=French
Name[fi]=Ranska
Comment=Switch keyboard language to French
Comment[fi]=Vaihda näppäimistön kieleksi ranska
Exec=setxkbmap fr
Icon=
Path=
Terminal=false
StartupNotify=false
