Section: misc
Priority: optional
Homepage: https://digabi.fi/
Standards-Version: 3.9.2

Package: digabi-common
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Architecture: all
Changelog: debian/changelog
Suggests: digabi-repository
Files: usr/bin/digabi /
 usr/lib/digabi/scripts/version /
 usr/lib/digabi/scripts/config /
 etc/bash_completion.d/digabi /
Description: Common files for Digabi
 Currently only provides digabi -command
