[Unit]
Description=DigabiOS firewall generator
DefaultDependencies=no
Before=network.target
Requires=netfilter-persistent.service systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target systemd-tmpfiles-setup.service
Before=netfilter-persistent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/digabios-firewall start
ExecStop=/usr/sbin/digabios-firewall stop

[Install]
WantedBy=multi-user.target
