Source: digabios-customization
Section: misc
Priority: optional
Maintainer: Ville Korhonen <ville.korhonen@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/digabi/digabi-os
Vcs-Git: https://github.com/digabi/digabi-os.git

Package: digabios-customization
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 digabios-backgrounds,
 digabios-system-settings
Description: Customizations for DigabiOS.
 Updates system configuration to match Digabi requirements.

Package: digabios-backgrounds
Architecture: all
Description: Backgrounds for DigabiOS.
 This package installs background files for DigabiOS.

Package: digabios-system-settings
Architecture: all
Description: Configures system settings for DigabiOS.
 Does misc changes to /etc...
